<% include ../partials/header.ejs%>

<div class="container mt-5">
	<div class="row">

		<%for(sale of sales){%>
				<div class="col-md-3">
					<figure class="card card-product">
						<div class="img-wrap"> 
							<span class="badge-new"> <%=Math.trunc(sale.discountPercent)%>% off </span>
							<img src="<%=sale.image[0].url%>">
							<a class="btn-overlay" href="/products/<%=sale.id%>"><i class="fa fa-search-plus"></i> Quick view</a>
						</div>
						<figcaption class="info-wrap">
							<a href="/products/<%=sale.id%>" class="title"><%=sale.name%></a>
							<div class="action-wrap">
								<a href="/products/<%=sale.id%>" class="btn btn-primary btn-sm float-right"> Show more </a>
								<div class="price-wrap h5">
									<span class="price-new"> &#x20b9;<%=sale.price%></span>
									<del class="price-old"> &#x20b9;<%=sale.mrp%></del>
								</div> <!-- price-wrap.// -->
							</div> <!-- action-wrap -->
						</figcaption>
					</figure> <!-- card // -->
				</div> <!-- col // -->
		<%}%>
	

	</div> <!-- row.// -->
</div>



<% include ../partials/footer.ejs%>