<% include ../partials/header.ejs%>

<div class="container">

  <h2 style="text-align:center;color:#b8206e;">Edit Product Here</h2>
          <form class="form-horizontal" action="/products/<%=data.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                  <label class="control-label col-md-2 col-lg-offset-2" for="name">Product name:</label>
                  <div class="col-lg-12 col-md-12 ">
                    <input type="text" class="form-control " id="name"  name="products[name]" placeholder="Enter full product name" value="<%=data.name%>" autofocus required >
                  </div>
                </div>
              
              <div class="form-group">
                  <label class="control-label col-md-2 col-lg-offset-2" for="price">Price:</label>
                  <div class="col-lg-12 col-md-12 ">
                    <input type="number" class="form-control" id="price"name="products[price]" placeholder="Enter price" value="<%=data.price%>" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-2 col-lg-offset-2" for="mrp">M.R.P:</label>
                  <div class="col-lg-12 col-md-12 ">
                    <input type="number" class="form-control" id="mrp" name="products[mrp]" placeholder="Enter max retail price" value="<%=data.mrp%>" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-2 col-lg-offset-2" for="image">Image:</label>
                  <div class="col-lg-12 col-md-12 ">
                    <input type="file"  id="image" placeholder="Upload image" name="image" accept="image/*" >
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="control-label col-md-2 col-lg-offset-2" for="image">Image2:</label>
                  <div class="col-lg-12 col-md-12 ">
                    <input type="file"  id="image" placeholder="Upload image2" name="image" accept="image/*" multiple/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-2 col-lg-offset-2" for="delivery">Delivery options:</label>
                  <div class="col-lg-12 col-md-12 ">
                    <input type="text" class="form-control" id="delivery"  name="products[deliveryPrice]" placeholder="(eg:free delivery or rs 40)" value="<%=data.deliveryPrice%>" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-2 col-lg-offset-2" for="stock">Stock available:</label>
                  <div class="col-lg-12 col-md-12 ">
                    <input type="number" class="form-control" id="stock" placeholder="(eg:2)" name="products[stock]" value="<%=data.stock%>" required>
                  </div>
                </div>
                 <div class="form-group">
                  <label class="control-label col-md-2 col-lg-offset-2" for="description">Search query:</label>
                  <div class="col-lg-12 col-md-12 ">
                  <textarea type="text" class="form-control" id="description" placeholder="Enter keywords" name="products[searchQuery]" required><%=data.searchQuery%></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label" for="otherProduct">Other products:</label>
                  <div class=" col-md-12 ">
                  <textarea type="text" class="form-control" id="otherProduct" placeholder="Enter otherProduct" name="products[otherProduct]" required><%=data.otherProduct%></textarea>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="control-label col-md-2 col-lg-offset-2" for="description">Description of product:</label>
                  <div class="col-lg-12 col-md-12 ">
                  <textarea type="text" class="form-control" id="description" placeholder="Enter description" name="products[description]" required><%=data.description%></textarea>
                  </div>
                </div>
              
                <div class="form-group">
                  <label class="control-label col-md-2 col-lg-offset-2" for="tech. details">Technical details of product:</label>
                  <div class="col-lg-12 col-md-12 ">
                  <textarea type="text" class="form-control" id="tech." name="products[technicalDetails]" placeholder="Enter Technical details" required><%=data.technicalDetails%></textarea>
                  </div>
                </div>
              
                <div class="form-group">
                  <label class="control-label col-md-2 col-lg-offset-2" for="tech. details">Additional Info:</label>
                  <div class="col-lg-12 col-md-12 ">
                  <textarea type="text" class="form-control" id="tech." name="products[additionalInfo]" placeholder="Enter Additional info.(eg:warranty)" required><%=data.additionalInfo%></textarea>
                  </div>
                </div>
                <div class="form-group">        
                  <div style="text-align:center;">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                  </div>
                </div>
          </form>
</div>





<% include ../partials/footer.ejs%>